body {
  margin: 0px; /* Reset default body margin */
}

 /* Styles for larger screens */
  /* Flexbox styles for layout */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1vh;
  width: 100vw;
  height: 100vh;
}

.section1 {
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0vw;
  width: 100vw;
  height: 50vh;
}


.box1 {
  width: 48vw;
  height: 48vh;
}


.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 50vw;
  height: 50vh;
}

.box2 {
  width: 48vw;
  height: 20vh;
}

.section3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 50vw;
  height: 25vh;
}

.box3 {
  width: 23vw;
  height: 26vh;
}

.box4 {
  width: 23vw;
  height: 26vh;
}

.section4 {
 display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
  width: 100vw;
  height: 50vh;
} 

.section5 {
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 25vw;
  height: 50vh;
}


.box5 {
  width: 23vw;
  height: 18vh;
}

.box6 {
  width: 23vw;
  height: 22vh;
}

.box7 {
  width: 45vw;
  height: 43vh;
}


.section6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 25vw;
  height: 50vh;
}

.box8 {
  width: 25vw;
  height: 27vh;
}

.box9 {
  width: 25vw;
  height: 13vh;
}

.boxes {
  display: none;
}

  /* Styles for smaller screens */
  /* Flexbox styles or other adjustments for responsiveness */

@media (max-width: 600px) {

.container {
  display: none;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2vh;
  width: 100vw;
  height: 100vh;
}

.box1 {
  width: 100vw;
  height: 15vh;
}

.part1 {
   display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1vw;
  width: 100vw;
  height: 15vh;
}

.box3 {
  width: 49.5vw;
  height: 15vh;
}

.box4 {
  width: 49.5vw;
  height: 15vh;
}

.box2 {
  width: 100vw;
  height: 15vh;
}

.box7 {
  width: 100vw;
  height: 15vh;
}


.part2 {
   display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1vw;
  width: 100vw;
  height: 15vh;
}

.box5 {
  width: 49.5vw;
  height: 15vh;
}

.box8 {
  width: 49.5vw;
  height: 15vh;
}


.part3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1vw;
  width: 100vw;
  height: 15vh;
}

.box6 {
  width: 49.5vw;
  height: 15vh;
}

.box9 {
  width: 49.5vw;
  height: 15vh;
}

}
